---
import Layout from '../layouts/Layout.astro';
---

<Layout 
  title="About | Ban Deloviar"
  desc="Check out Ban Deloviar's contact info."
>
  <main>
    <div class="absolute-center">
      <p>ban@bandeloviar.com</p>
      <p> Long Beach, CA</p>
      <p>
        <a href="https://instagram.com/bearbulb">https://instagram.com/bearbulb</a>
      </p>
    </div>
  </main>
</Layout>

<style>
  .absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>
