---
import Layout from '../layouts/Layout.astro';
---

<Layout 
  title="Ban Deloviar"
  desc="Check out Ban Deloviar's online photo portfolio."
>

  <div class="content">
    <img src="/Loading-Bar.gif" class="loader" alt="Loading Bar">
    <img src="/imgs/japan/14.gif" class="img-fluid" alt="Untitled">
  </div>

</Layout>

<style>
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .loader {
    position: fixed;
  }

  .content > img {
    max-height: 80vh;
    z-index: 1;
  }
</style>

<script>
  console.log("Fuck you Timmy 🖕")
</script>
