---

---
<div class="lookbook-nav">
  <a class="navbar-brand lookbook-brand" href="/">Ban Deloviar</a>
</div>

<style>
  :root{
    --bg: #fff;
    --text: #000;
    --gray: #292b2c;
  }

  .dark {
    --bg: #000;
    --text: #fff;
    --gray: #c2c5c6;
  }

  .lookbook-nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--text);
    padding-block: 2rem;
  }

  .lookbook-brand {
    font-family: "Permanent Marker", cursive;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--text);
  }
</style>
