---
import LookbookLayout from "../../layouts/LookbookLayout.astro";
import ProjectList from "../../components/ProjectList.astro";
import ProjectItem from "../../components/ProjectItem.astro";
import Lightbox from "../../components/Lightbox.astro";
import LinkToTop from "../../components/LinkToTop.astro";
---
<LookbookLayout 
  title="iiiiClothing | Ban Deloviar"
  lookbook="iiiiClothing"
>
  <h2>iiiiClothing</h2>
  <ProjectList>
    <!-- 2022 Uploads -->
    <ProjectItem href="#lightbox1" src="/imgs/lookbooks/iiiiclothing/1.webp" overlayText="" />
    <ProjectItem href="#lightbox2" src="/imgs/lookbooks/iiiiclothing/10.webp" overlayText="" />
    <ProjectItem href="#lightbox3" src="/imgs/lookbooks/iiiiclothing/11.webp" overlayText="" />
    <ProjectItem href="#lightbox4" src="/imgs/lookbooks/iiiiclothing/12.webp" overlayText="" />
    <ProjectItem href="#lightbox5" src="/imgs/lookbooks/iiiiclothing/13.webp" overlayText="" />
    <ProjectItem href="#lightbox6" src="/imgs/lookbooks/iiiiclothing/14.webp" overlayText="" />
    <ProjectItem href="#lightbox7" src="/imgs/lookbooks/iiiiclothing/15.webp" overlayText="" />

    <!-- 2018 Uploads -->
    <ProjectItem href="#lightbox8" src="/imgs/lookbooks/iiiiclothing/2.webp" overlayText="" />
    <ProjectItem href="#lightbox9" src="/imgs/lookbooks/iiiiclothing/3.webp" overlayText="" />
    <ProjectItem href="#lightbox10" src="/imgs/lookbooks/iiiiclothing/4.webp" overlayText="" />
    <ProjectItem href="#lightbox11" src="/imgs/lookbooks/iiiiclothing/5.webp" overlayText="" />
    <ProjectItem href="#lightbox12" src="/imgs/lookbooks/iiiiclothing/6.webp" overlayText="" />
    <ProjectItem href="#lightbox13" src="/imgs/lookbooks/iiiiclothing/7.webp" overlayText="" />
    <ProjectItem href="#lightbox14" src="/imgs/lookbooks/iiiiclothing/8.webp" overlayText="" />
    <ProjectItem href="#lightbox15" src="/imgs/lookbooks/iiiiclothing/9.webp" overlayText="" />
  </ProjectList>

  <LinkToTop />

  <!-- Lightboxes -->
    <!-- 2022 Uploads -->
  <Lightbox id="lightbox1" src="/imgs/lookbooks/iiiiclothing/1.webp" />
  <Lightbox id="lightbox2" src="/imgs/lookbooks/iiiiclothing/10.webp" />
  <Lightbox id="lightbox3" src="/imgs/lookbooks/iiiiclothing/11.webp" />
  <Lightbox id="lightbox4" src="/imgs/lookbooks/iiiiclothing/12.webp" />
  <Lightbox id="lightbox5" src="/imgs/lookbooks/iiiiclothing/13.webp" />
  <Lightbox id="lightbox6" src="/imgs/lookbooks/iiiiclothing/14.webp" />
  <Lightbox id="lightbox7" src="/imgs/lookbooks/iiiiclothing/15.webp" />

    <!-- 2018 Uploads -->
  <Lightbox id="lightbox8" src="/imgs/lookbooks/iiiiclothing/2.webp" />
  <Lightbox id="lightbox9" src="/imgs/lookbooks/iiiiclothing/3.webp" />
  <Lightbox id="lightbox10" src="/imgs/lookbooks/iiiiclothing/4.webp" />
  <Lightbox id="lightbox11" src="/imgs/lookbooks/iiiiclothing/5.webp" />
  <Lightbox id="lightbox12" src="/imgs/lookbooks/iiiiclothing/6.webp" />
  <Lightbox id="lightbox13" src="/imgs/lookbooks/iiiiclothing/7.webp" />
  <Lightbox id="lightbox14" src="/imgs/lookbooks/iiiiclothing/8.webp" />
  <Lightbox id="lightbox15" src="/imgs/lookbooks/iiiiclothing/9.webp" />

</LookbookLayout>
